<%- include('partials/header'); -%>

<form action="/forget-password">
  <h2>Forget Password</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="email error"></div>
  <button>Send email</button>
</form>

<script>
    const form = document.querySelector('form')
    const emailError = document.querySelector('.email.error')
    form.addEventListener('submit', async (e) => {
      e.preventDefault()
      // reset errors
      emailError.textContent = '';
      const email = form.email.value
      try{
        const res = await fetch('/forget-password', { 
        method: 'POST', 
        body: JSON.stringify({ email }),
        headers: {'Content-Type': 'application/json'}
      })
      const data = await res.json();
      console.log(data);
      // check for errors in response "data"
      if(data.errors){
        emailError.textContent = data.errors.resetError
      }
      // no errors
      if(data.user){
        emailError.textContent = 'email has been sent to you'
      }
      }catch(err){
        console.log(err)
      }
      form.email.value = ''
    })
</script>