<%- include('partials/header'); -%>

<form method="post">
  <h2>Reset Password</h2>
  <label for="password1">Password</label>
  <input type="password" name="password1" required />
  <div class="password error"></div>
  <label for="password2">Confim password</label>
  <input type="password" name="password2" required />
  <div class="password error"></div>
  <button>Reset</button>
</form>

<script>
    const form = document.querySelector('form')
    form.addEventListener('submit', async (e) => {
      // e.preventDefault()
      const passwordError = document.querySelector('.password.error');
      const password1 = form.password1.value
      const password2 = form.password2.value

        if(password2 === ''){
          passwordError.textContent = 'Confim password is required'
        }else if(password1 !== password2){
          passwordError.textContent = "Confim password doesn't match Password"
        }
    })
</script>